@if (activities().length > 0) {
  <div class="mapa-activities-container">
    <h4 class="mapa-activities-title">
      {{ title() }}
    </h4>

    <div class="mapa-activities-grid">
      @for (act of activities(); track act.id) {
        <div class="mapa-activity-item">
          <div class="mapa-activity-header">
            <strong class="mapa-act-title">{{ isCa() ? act.title_ca : act.title_es }}</strong>
          </div>

          @if (act.motivatingFactor_es) {
            <p class="mapa-act-idea">
              <strong>{{
                isCa() ? 'Context / Idea motivadora:' : 'Contexto / Idea motivadora:'
              }}</strong>
              {{ isCa() ? act.motivatingFactor_ca : act.motivatingFactor_es }}
            </p>
          }

          <p class="mapa-act-desc">
            <strong>{{ isCa() ? 'Desenvolupament:' : 'Desarrollo:' }}</strong>
            {{ isCa() ? act.description_ca : act.description_es }}
          </p>

          <div class="mapa-act-meta">
            <div class="mapa-meta-box mapa-meta-evidence">
              <strong>{{ isCa() ? 'Producte / Evidència:' : 'Producto / Evidencia:' }}</strong>
              <span>{{ isCa() ? act.evidence_ca : act.evidence_es }}</span>
            </div>

            <div class="mapa-meta-box mapa-meta-diversity">
              <strong>{{ diversityLabel() }}</strong>
              <span>{{ isCa() ? act.diversitySupport_ca : act.diversitySupport_es }}</span>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
}
